@charset "utf-8";
@import "../../node_modules/bulma/bulma.sass";

body {
    background-color: lightgrey;
}

.transition {
    transform: translateX(0);
    transition: transform 1s;
}

.container-slider {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: -200%;
    width: 300%;

    .item {
        width: 20%;
    }
}

.overflow-hidden {
    overflow: hidden;
}

.about-me-p {
    font-size: 60px;

    strong {
        color: darkorchid;
    }
}

.projects-title {
    font-size: 60px;
}

.position-relative {
    position: relative;
}

.nav-position-absolute {
    position: absolute;
    width: 100%;
    bottom: 10%;
    left: 0;
}

.projects-position-absolute {
    position: absolute;
    width: 100%;
    top: 5%;
    left: 0;
}

.hr-position-absolute {
    position: absolute;
    width: 100%;
    top: 15%;
    left: 0;
}

.button-position-absolute {
    position: absolute;
    width: 100%;
    bottom: 20%;
    left: 0;
}

.slider-position-absolute {
    position: absolute;
    width: 100%;
    left: 0;
    top: 10%;
}

hr {
    border: 2px solid black;
    border-radius: 5px;
}

.hr-width {
    width: 25%;
}

.projects-button-width {
    width: 20%;
}


