@charset "utf-8";
@import "../../node_modules/bulma/bulma.sass";

body {
    background-color: lightgrey;
}

.transition {
    transform: translateX(0);
    transition: transform 1s;
}

.container-slider {
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: -200%;
    width: 300%;

    .item {
        width: 500px;
    }
}

.my-image {
    width: auto;
    height: auto;
    max-width: 640px;
    max-height: 480px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.6s;
}

.my-image:hover {
    transform: scale(0.9);
}

.overflow-hidden {
    overflow: hidden;
}

.about-me-p {
    font-size: 60px;

    strong {
        color: darkorchid;
    }
}

.projects-title {
    font-size: 60px;
}

.position-relative {
    position: relative;
}

.nav-position-absolute {
    position: absolute;
    width: 100%;
    bottom: 5%;
    left: 0;
}

.projects-position-absolute {
    position: absolute;
    width: 100%;
    top: 5%;
    left: 0;
}

.hr-position-absolute {
    position: absolute;
    width: 100%;
    top: 15%;
    left: 0;
}

.button-position-absolute {
    position: absolute;
    width: 100%;
    bottom: 20%;
    left: 0;
}

.slider-position-absolute {
    position: absolute;
    width: 100%;
    left: 0;
    top: 5%;
}

hr {
    border: 2px solid black;
    border-radius: 5px;
}

.hr-width {
    width: 25%;
}

.projects-button-width {
    width: 20%;
}

.login-image {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


