<div class="block">
  <div class="container">
    <div class="columns is-centered has-text-centered">
      <div class="column">
        <p class="notification is-primary">Column 1</p>
      </div>
      <div class="column is-half">
        <p class="notification is-primary">Column 2</p>
      </div>
      <div class="column">
        <p class="notification is-primary">Column 2</p>
      </div>
    </div>
  </div>
</div>

<div class="block">
  <div class="container is-fluid">
    <p class="notification is-info">Lorem ipsum dolor sit amet.</p>
  </div>
</div>

{{!
<h1 class="title has-text-centered">Portfolio</h1>

<section class="hero is-primary">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="block">
        <h1 class="title">Seize Command</h1>
      </div>
      <div class="block">
        <h1 class="subtitle">Seize Command is an epic game of massive proportions</h1>
      </div>
    </div>

    <div class="block">
      <div class="container">
        <div class="columns is-centered">
          <div class="column">
            <figure class="image is-128x128">
              <img src="android-image.png" alt="Image">
            </figure>
          </div>
          <div class="column">
            <h1 class="title">Hello</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="block">
      <nav class="pagination">
        <a href="" class="pagination-previous" disabled>Previous</a>
        <a href="" class="pagination-next">Next Page</a>
        <ul class="pagination-list">
          <li><a href="" class="pagination-link is-current">1</a></li>
          <li><a href="" class="pagination-link">2</a></li>
          <li><a href="" class="pagination-link">3</a></li>
        </ul>
      </nav>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <h1 class="title">Hello</h1>
      </div>
      <div class="column">
        <h1 class="title">Hello</h1>
      </div>
      <div class="column">
        <h1 class="title">Hello</h1>
      </div>
    </div>
  </div>
</section>

<div class="block">
  <div class="columns is-centered">
      <div class="column">
        <p class="notification is-primary">First Column</p>
      </div>
      <div class="column">
        <h1 class="title">Hello</h1>
      </div>
      <div class="column">
        <h1 class="title">Hello</h1>
      </div>
    </div>
  </div>
</div>

}}