<section class="hero is-dark is-fullheight is-bold">
  <div class="hero-body position-relative">
    <div class="block">
      <div class="container is-fluid">
        <div class="block">
          <p class="about-me-p">
            My name is <strong class="name">James Davis</strong>.
          </p>
          <p class="about-me-p">
            I'm a full-stack web developer.
          </p>
        </div>
        <div class="block">
          <button class="button is-large is-dark is-outlined is-inverted" id="button-projects">Projects</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero is-primary is-bold is-medium has-text-centered">
  <div class="hero-body position-relative">


    <div class="container">
      <div class="block">
        <h1 class="title is-1">Projects</h1>
      </div>

      <div class="block">
        <div class="slide-container" id="slides">
          <div class="box-container">
            <div class="box-custom">
              <div class="box-inner-container">
                <div class="box-left-container">
                  <h1 class="project-title"><strong>Seize Command</strong></h1>
                  <h3 class="project-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Praesentium quae recusandae vero similique, molestias ducimus.
                    asdfasdfasdfasdfasdfasdfasdf asdfasdfasdf adfasdfasdf
                    asdfasdf asdfasdf asdfasdf asdfasdf asdfasdf asdfasdfasdf
                    asdfasdfasdf fasdfasdf asdfasdfa asdfasdf
                    asdfasdf asdfasdf asdfasdf asdfasdf asdfasdf</h3>
                </div>
                <div class="box-right-container">
                  <figure class="image is-4x3">
                    <img class="box-right-image" src="coding 4x3.jpg" alt="No Image">
                  </figure>
                  <div class="box-right-button-container">
                    <a href="" class="visit-button">View</a>
                    <a href="" class="visit-button">Github</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="box-container">
            <div class="box-custom">
              <div class="box-inner-container">
                <div class="box-left-container">
                  <h1 class="project-title"><strong>Portfolio</strong></h1>
                  <h3 class="project-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Praesentium quae recusandae vero similique, molestias ducimus.
                    asdfasdfasdfasdfasdfasdfasdf asdfasdfasdf adfasdfasdf
                    asdfasdf asdfasdf asdfasdf asdfasdf asdfasdf asdfasdfasdf
                    asdfasdfasdf fasdfasdf asdfasdfa asdfasdf
                    asdfasdf asdfasdf asdfasdf asdfasdf asdfasdf</h3>
                </div>
                <div class="box-right-container">
                  <figure class="image is-4x3">
                    <img class="box-right-image" src="coding 4x3.jpg" alt="No Image">
                  </figure>
                  <div class="box-right-button-container">
                    <a href="" class="visit-button">View</a>
                    <a href="" class="visit-button">Github</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="box-container">
            <div class="box-custom">
              <div class="box-inner-container">
                <div class="box-left-container">
                  <h1 class="project-title"><strong>Other Website</strong></h1>
                  <h3 class="project-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Praesentium quae recusandae vero similique, molestias ducimus.
                    asdfasdfasdfasdfasdfasdfasdf asdfasdfasdf adfasdfasdf
                    asdfasdf asdfasdf asdfasdf asdfasdf asdfasdf asdfasdfasdf
                    asdfasdfasdf fasdfasdf asdfasdfa asdfasdf
                    asdfasdf asdfasdf asdfasdf asdfasdf asdfasdf</h3>
                </div>
                <div class="box-right-container">
                  <figure class="image is-4x3">
                    <img class="box-right-image" src="coding 4x3.jpg" alt="No Image">
                  </figure>
                  <div class="box-right-button-container">
                    <a href="" class="visit-button">View</a>
                    <a href="" class="visit-button">Github</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="block">
        <div class="container">
          <div class="notification is-dark">
            <nav class="pagination is-rounded">
              <button class="pagination-previous button is-dark is-outlined is-inverted" id="button-previous" disabled>Previous</button>
              <button class="pagination-next button is-dark is-outlined is-inverted" id="button-next">Next page</button>
              <ul class="pagination-list" id="pagination-list-buttons">
                <li>
                  <button class="pagination-link is-current" id="button-1">1</button>
                </li>
                <li>
                  <button class="pagination-link" id="button-2">2</button>
                </li>
                <li>
                  <button class="pagination-link" id="button-3">3</button>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>





    {{!
    <div class="block projects-position-absolute">
      <div class="container">
        <h1 class="title is-1">Projects</h1>
      </div>
    </div>

    <div class="block slider-position-absolute">
      <div class="container">
        <div class="container-slider transition">
          <div class="item">
            <div class="overlay-container position-relative">
              <figure class="image is-4x3">
                <img src="coding 4x3.jpg" alt="No Image">
              </figure>
              <div class="overlay">
              </div>
              <div class="overlay-text-title">
                Church Website
              </div>
              <div class="overlay-text-link">
                <a target="_blank" href="https://github.com/jamesmdavis/FullStack" class="button is-dark is-outlined is-inverted">Link</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="overlay-container position-relative">
              <figure class="image is-4x3">
                <img class="my-image" src="coding 4x3.jpg" alt="No Image">
              </figure>
              <div class="overlay">
              </div>
              <div class="overlay-text-title">
                HS Deck Builder
              </div>
              <div class="overlay-text-link">
                <a target="_blank" href="https://github.com/anchovey707/HS_Deck_Builder" class="button is-dark is-outlined is-inverted">Link</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="overlay-container position-relative">
              <figure class="image is-4x3">
                <img class="my-image" src="coding 4x3.jpg" alt="No Image">
              </figure>
              <div class="overlay">
              </div>
              <div class="overlay-text-title">
                Seize Command
              </div>
              <div class="overlay-text-link">
                <a target="_blank" href="https://github.com/jamesmdavis/SeizeCommand" class="button is-dark is-outlined is-inverted">Link</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="block nav-position-absolute">
      <div class="container">
        <div class="notification is-dark">
          <nav class="pagination is-rounded">
            <button class="pagination-previous button is-dark is-outlined is-inverted" id="button-previous" disabled>Previous</button>
            <button class="pagination-next button is-dark is-outlined is-inverted" id="button-next">Next page</button>
            <ul class="pagination-list" id="pagination-list-buttons">
              <li>
                <button class="pagination-link is-current" id="button-1">1</button>
              </li>
              <li>
                <button class="pagination-link" id="button-2">2</button>
              </li>
              <li>
                <button class="pagination-link" id="button-3">3</button>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    }}
  </div>
</section>

<footer class="footer is-bold">
  <div class="content has-text-centered">
    <p>
      Powered by <strong>Bulma</strong>
    </p>
    <p>Contact me at jamesmdavis95@gmail.com</p>
  </div>
</footer>