<section class="section">
  <div class="block">
    <h1 class="title">Portfolio</h1>
  </div>
</section>

<section class="hero is-dark is-medium has-text-centered">
  <div class="hero-body">
    <div class="block">
      <h1 class="title">About Me</h1>
    </div>

    <div class="block">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-half">
            <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
              Impedit praesentium expedita maiores ea nostrum accusantium optio quam tempora quod nemo.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="block">
    <h1 class="title">My Projects</h1>
  </div>
</section>

<section class="hero is-info has-text-centered">
  <div class="hero-body">
    <div class="block transition" id="slide">
      <div class="container">
          <div class="columns is-centered slide-three-columns">
            <div class="column">
              <div class="block">
                <h1 class="title">Seize Command</h1>
              </div>
              <div class="block">
                <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Impedit praesentium expedita maiores ea nostrum accusantium optio quam tempora quod nemo.</p>
              </div>
            </div>
            <div class="column">
              <div class="block">
                <h1 class="title">James Davis</h1>
              </div>
              <div class="block">
                <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Impedit praesentium expedita maiores ea nostrum accusantium optio quam tempora quod nemo.</p>
              </div>
            </div>
            <div class="column">
              <div class="block">
                <h1 class="title">This is Feces</h1>
              </div>
              <div class="block">
                <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Impedit praesentium expedita maiores ea nostrum accusantium optio quam tempora quod nemo.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="block">
      <div class="box">
        <div class="transition">
          <p class="subtitle has-text-black">Lorem ipsum dolor sit amet.</p>
        </div>
      </div>
    </div>

    <div class="block">
      <div class="notification is-dark">
        <nav class="pagination">
          <button class="pagination-previous" id="button-previous" disabled>Previous</button>
          <button class="pagination-next" id="button-next">Next page</button>
          <ul class="pagination-list" id="pagination-list-buttons">
            <li>
              <button class="pagination-link is-current" id="button-1">1</button>
            </li>
            <li>
              <button class="pagination-link" id="button-2">2</button>
            </li>
            <li>
              <button class="pagination-link" id="button-3">3</button>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      Powered by <strong>Bulma</strong>
    </p>
  </div>
</footer>