<section class="hero is-dark is-fullheight is-bold">
  <div class="hero-body position-relative">
    <div class="block">
      <div class="container is-fluid">
        <p class="about-me-p">
          My name is <strong class="name">James Davis</strong>.
        </p>
        <p class="about-me-p">
          I'm a full-stack web developer.
        </p>
      </div>
    </div>

    <div class="block button-position-absolute" id="button-projects">
      <div class="container">
        <div class="projects-button-width">
          <div class="button is-fullwidth is-large is-dark is-outlined is-inverted">Projects</div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero is-primary is-bold is-fullheight has-text-centered">
  <div class="hero-body position-relative">
    <div class="block slider-position-absolute">
      <div class="container">
        <div class="container-slider transition">
          <div class="item">
            <div class="block">
              <h1 class="title is-1">Hearthstone Deck Builder</h1>
            </div>
            <div class="block">
              <p class="subtitle is-3">React JS / Node JS / CSS</p>
            </div>
          </div>
          <div class="item">
            <div class="block">
              <h1 class="title is-1">Seize Command</h1>
            </div>
            <div class="block">
              <p class="subtitle is-3">Unity Engine / C# / Node JS</p>
            </div>
          </div>
          <div class="item">
            <div class="block">
              <figure class="image is-4x3">
                <img class="my-image" src="coding 4x3.jpg" alt="No Image">
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="block nav-position-absolute">
      <div class="container">
        <div class="notification is-dark">
          <nav class="pagination">
            <button class="pagination-previous button is-dark is-outlined is-inverted" id="button-previous" disabled>Previous</button>
            <button class="pagination-next button is-dark is-outlined is-inverted" id="button-next">Next page</button>
            <ul class="pagination-list" id="pagination-list-buttons">
              <li>
                <button class="pagination-link is-current" id="button-1">1</button>
              </li>
              <li>
                <button class="pagination-link" id="button-2">2</button>
              </li>
              <li>
                <button class="pagination-link" id="button-3">3</button>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="footer is-bold">
  <div class="content has-text-centered">
    <p>
      Powered by <strong>Bulma</strong>
    </p>
  </div>
</footer>