<section class="section">
  <div class="block">
    <h1 class="title">Portfolio</h1>
  </div>
</section>

<section class="hero is-dark is-medium has-text-centered">
  <div class="hero-body">
    <div class="block">
      <h1 class="title">About Me</h1>
    </div>

    <div class="block">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-half">
            <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
              Impedit praesentium expedita maiores ea nostrum accusantium optio quam tempora quod nemo.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="block">
    <h1 class="title">My Projects</h1>
  </div>
</section>

<section class="hero is-info has-text-centered">
  <div class="hero-body">
    <div class="block">
      <h1 class="title">Seize Command</h1>
    </div>

    <div class="block">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-half">
            <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
              Impedit praesentium expedita maiores ea nostrum accusantium optio quam tempora quod nemo.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="block">
      <div class="box">

      </div>
    </div>

    <div class="block">
      <div class="notification is-dark">
        <nav class="pagination">
          <a href="" class="pagination-previous" disabled>Previous</a>
          <a href="" class="pagination-next">Next page</a>
          <ul class="pagination-list">
            <li>
              <a href="" class="pagination-link is-current">1</a>
            </li>
            <li>
              <a href="" class="pagination-link">2</a>
            </li>
            <li>
              <a href="" class="pagination-link">3</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      Powered by <strong>Bulma</strong>
    </p>
  </div>
</footer>